@font-face {
    font-family: 'Bison';
    src: url('../fonts/Bison-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Bold.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Light.otf') format('opentype');
    font-weight: 300;
}

html {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.contact a{
    color: black;
    text-decoration: none;
}

.contact .footerLink{
    color: white;
}
  
body{
    font-family: Bozon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.row, .col {
    margin: 0;
    padding: 0;
}

.contact .navbar-brand {
    font-family: Bison;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
}

.contact .navbar-brand img {
    height: 35px;
    margin-right: 8px;
}

.contact .navbar-nav {
    margin-left: auto;
}

.contact #bigNavbar{
    visibility: visible;
}
.contact #littleNavbar{
    visibility: hidden;
    width: 0;
}

.contact .footer{
    padding-top: 5vh;
    color: white !important;
    min-height: 30vh;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #17191a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #17191a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact .footer .fab:hover{
    color: rgb(207, 207, 207);
}
.contact .footer a:hover{
    color: rgb(207, 207, 207);
}
.contact .footer a{
    text-decoration: none;
    color: white;
}

.contact .emailInput{
    border-radius: 100px;
}

.contact .emailButton{
    border-radius: 100px;
    background-color: #2096A2;
    border: none;
}

.contact .forms{
    padding-right: 5vw;
    padding-left: 5vw;
}

.contact input{
    border-radius: 100px !important;
    box-shadow: 1px 1px 1px rgb(197, 197, 197);
}

.contact .contactButton{
    border-radius: 100px;
    width: 250px;
    background-color: #2096A2;
    border: none;
}
.contact .contactSection{
    position: relative;
    min-height: 62vh;
}
@media only screen and (max-width: 994px) {
    .contact .theTeam{
        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    }
    .contact #bigNavbar{
        visibility: hidden;
    }
    .contact #littleNavbar{
        visibility: visible;
        width: 105px;
    }
    .contact #brandName{
        visibility: hidden;
        width: 0;
    }
}