html{
 overflow-x: hidden
}

.row, .col{
    margin: 0;
    padding: 0;
}

.navbar-nav{
    margin-left: auto;
}

#canvas {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.quotes{
    color: white;
    position: relative;
    min-height: 90vh;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
}

.quotesPusher{
    margin-top: 200px;
}

.quotesPic{
    height: 80px;
    width: auto;
    border-radius: 100px;
}

.card-body{
    color: black;
}

.getStarted{
    position: relative;
    min-height: 60vh;
    background-image: url('../media/getStarted.png');
    background-size: contain;
}

.verticalLine {
    border-left: thin solid black;
    height: 80px;
    margin-bottom: -300px;
  }

.footer{
    padding-top: 5vh;
    color: white;
    min-height: 30vh;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}