html{
 overflow-x: hidden
}

.row, .col{
    margin: 0;
    padding: 0;
}

.navbar-nav{
    margin-left: auto;
}

#canvas {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.footer{
    padding-top: 5vh;
    color: white;
    min-height: 30vh;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}