.md-flex__cell {
  vertical-align: middle;
}

.md-header-nav__button {
  margin: 0;
  padding: 0;
  padding-top: 0.6rem;
}

.md-header-nav__button > img {
  width: 3rem;
  height: 3rem;
}

.md-header-nav__title {
  padding: 0 1rem;
}

.md-footer-copyright {
  padding: 1.8rem 0;
}
@font-face {
  font-family: 'Bison';
  src: url('../../fonts/Bison-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bozon';
  src: url('../../fonts/ROHH - Bozon Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Bozon';
  src: url('../../fonts/ROHH - Bozon Bold.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Bozon';
  src: url('../../fonts/ROHH - Bozon Light.otf') format('opentype');
  font-weight: 300;
}


body{
  font-family: Bozon;
}

.md-nav__link--active{
  color: #9c27b0;
}

.md-nav__link:hover{
  color: #9c27b0;
}